$primary-text-color: #444;
$secondary-text-color: #eece1a;
$primary-color: #444;
$secondary-color: #eece1a;
$default-font-size: 16px;
$mobile: 400px;
$mobile-landscape: 767px;
$tablet: 1170px;
$widescreen: 1171px;