.keyboard {
  width: 600px;
  height: 200px;
  // border: 1px solid black;
  .keyboard-key {
    user-select: none;
  }

  .keyboard-key:hover {
    cursor: pointer;
    // @extend .backlit;
  }
}

.backlit {
  fill: #39ff96;
  color: red;
}

.typingArea {
  border: 2px solid green;
  min-width: 300px;
  min-height: 100px;
  background-color: black;
  color: #39ff96;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: left;

  .cursorSpan {
    animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
