@import "../../styles/variables";

.System {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    // background-image: url('../../brick.svg');
    // background-repeat: repeat repeat ;

    .table {
        margin-top: -70px;
        margin-bottom: -200px;
    }

    .desk {
        width: 800px;
        height: 3px;
        border: 1px solid darkslategray;
        border-radius: 5px;
        background-color: darkslategray;
        margin-bottom: 5px;
    }
}